.idea
cmake-build-debug
*.cam
CMakeCache.txt
CMakeFiles
*.json
*.cmake
Makefile
ALL_BUILD*
*.dir
*.sln
*.db
*.opendb
*.vcproj
*.vcxproj
*.filters
*.exe
Release
Debug
x64
ZERO_CHECK*
icpRegistration/icpRegistration
